*{
    margin: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Color Theme Swatches in RGBA */
$blue: rgba(0,77,89, 1);
$blue-light: rgba(0,112,107, 1);
$orange-light: rgba(237,218,156, 1);
$orange-med: rgba(244,139,70, 1);
$orange: rgba(239,110,62, 1);

.container{
    display: flex;
    //overflow: hidden;
    .left-side-container{
        background-color: orange;
        flex: 1 1 0;
        width: 100%;
        height: 100vh;
        ul{
            li{
                border: 1px solid gray;
                display: flex;
                align-items: center;
                cursor: pointer;
                &.active{
                    background-color: rgba($orange, 0.5);
                }
                .time-container{
                    font-size: 25px;
                    font-family: cursive;
                    padding: 10px;
                    border-right: 1px solid gray;
                }
                .title{
                    font-size: 20px;
                    font-family: cursive;
                    padding: 10px;
                    text-transform: capitalize;
                    color: $blue;
                }
            }
        }
    }
    .right-side-container{
        background-color: $blue-light;
        flex: 3 1 0;
        width: 100%;
        height: 100vh;
        .settings-container{
            //width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: $orange-med;
            font-size: 25px;
            padding: 15px 20px;
            &>div{
                cursor: pointer;
            }
        }
        ul{
            position: relative;
            height: 100%;
            li{
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                opacity: 0;
                pointer-events: none;

                &.active{
                    opacity: 1;
                    pointer-events: auto;
                }
                .content-container{
                    height: 100%;
                    form{
                        height: 100%;
                    }
                    textarea{
                        width: 100%;
                        height: 100%;
                        resize: none;
                        background-color: transparent;
                        color: $orange;
                    }
                }

            }
        }
    }
}